<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<!-- <ul>
    <% results.forEach(function(r) { %>
        <li>S<%= r.id %> - <%= r.name %></li>
    <% }); %>
</ul> -->
<div class="table-responsive">
    <table class="table table-bordered table-striped">
                 <thead>
                    <tr>
                      <th>SID</th>
                      <th>Name</th>
                    </tr>
                  </thead>
                  <tbody>
            <% results.forEach(function(r) { %>
                <tr><td>S<%= r.id %> </td><td> <%= r.name %></td>
            <% }); %>
            </tbody>
    </table>
</div>

</body>
</html>
